/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/home/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_bgWrap__lEaog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.home_bgHeader__ERH_N {
  margin: 0;
  padding-top: 25px;
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  line-height: 45px;
  text-align: center;
}

.home_bgText__v0t9Y {
  margin: 0;
  font-size: 30px;
  padding-top: 25px;
  color: #fff;
  text-align: center;
  font-style: italic;
}

.home_bgLinks__6LAMu {
  text-decoration: none;
  color: #fff;
}

